[submodule "eventhandler"]
	path = eventhandler
	url = git@github.com:sigvef/eventhandler.git
[submodule "honeycomb"]
	path = honeycomb
	url = git@github.com:sigvef/sol.git
[submodule "firefly"]
	path = firefly
	url = git@github.com:sigvef/BGJ05.git
[submodule "windwill"]
	path = windwill
	url = git@github.com:calibwam/bgj-2012.git
[submodule "gabong"]
	path = gabong
	url = git@github.com:sigvef/gipt.git
