[submodule "eventhandler"]
	path = eventhandler
	url = git@github.com:sigvef/eventhandler.git
[submodule "honeycomb"]
	path = honeycomb
	url = git@github.com:sigvef/sol.git
[submodule "firefly"]
	path = firefly
	url = git@github.com:sigvef/BGJ05.git
[submodule "windwill"]
	path = windwill
	url = git@github.com:calibwam/bgj-2012.git
[submodule "gabong"]
	path = gabong
	url = git@github.com:sigvef/gipt.git
[submodule "cute-animals-inc"]
	path = cute-animals-inc
	url = git@github.com:ninjadev/bgj-06.git
[submodule "tunl-mntn-wter"]
	path = tunl-mntn-wter
	url = git@github.com:sigvef/skog.git
[submodule "old-computers-never-die"]
	path = old-computers-never-die
	url = git://github.com/sigvef/old-school-demo
[submodule "demolicious"]
	path = demolicious
	url = git@github.com:sigvef/demolicious-transpiler.git
[submodule "barricelli"]
	path = barricelli
	url = git@github.com:dmpro-ytelse/barricel.li.git
[submodule "drop"]
	path = drop
	url = https://github.com/sigvef/drop
