
body{
	font-family: Georgia, serif;
	font-size: 1.4em;
    line-height: 1.8em;
	margin: 1em auto;
	padding: 0;
  background: #efefef;
}

h1 {
	font-family: Georgia, serif;
	font-size: 1.4em;
}

.box {
  margin: 15px 0;
  background: white;
  border: 0px solid #222;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  overflow: hidden;
}

p {
  padding: 15px;
  margin: 0;
}

.box:hover p {
  display: block;
}

dl{
	display:block;
	overflow: hidden;
	margin-bottom: 2em;
}

dt a{
	display:block;
	font-weight:bold;
	
}

dt{
	clear: left;
	float: left;
	width: 230px;
	margin: 0;
	padding: 5px;
	border-top: 1px solid #999;
	color: #666;
}

dd{
	float: left;
	width: 330px;
	margin: 0;
	padding: 5px;
	border-top: 1px solid #999;
}

ol {list-style-type: decimal;}
ol ol {list-style-type: upper-roman;}
ol ol ol {list-style-type: lower-roman;}
ol ol ol ol {list-style-type: lower-latin;}
ol ol ol ol ol {list-style-type: lower-greek;}


footer{
	border-top: 1px solid #999;
    text-align:right;
}

footer img.github{
    height: 18px;
    opacity: 0.5;
}

footer a:hover img{
    opacity: 1 !important;
}

canvas{
    border-top:1px solid #999;margin:20px auto 0;display:block;
}

code{
    background: #ccc;
    font-family:monospace;
    display:block;
    margin: 10px 0;
    padding: 10px;
    border-radius:5px;
}
code.inline{
    display:inline;
    margin: 0 5px;
    padding: 5px;
}

.item{
    padding-top: 50px;
    margin-bottom: 30px;
}

.image{
    position: relative;
    width: 100%;    
}

.image img{
    display:block;
    width: 100%;
    height: 100%;
}

.image h2{
    margin: 0;
    font-family: sans-serif;
    bottom: 0;
    left: 0;
    width: auto;
    padding: 15px;
    background: #222;
    color: white;
    font-size: 20px;
}

.image a:hover {
    text-decoration: none;
}

.col-sm-3 h2 {
    font-size: 16px;
}

.description{
    padding:20px;
}

